body{
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-image: radial-gradient(white,#dddddd);
    text-align: center
}

#title_band{
    text-align: left;
    background-image: radial-gradient(white,#A9A9A9);
    background: linear-gradient(90deg, rgba(169,169,169,1) 0%, rgba(255,255,255,1) 20%, rgba(169,169,169,1) 100%);
    margin:auto;
}

#title_band img{
    height: 250px;
    width: auto;
}

#title_band h1{
    color: rgb(112, 112, 112);
    font-size: 550%;
    position: absolute;
    top: 0px;
    right: 16px;
}


#buttons{
    background-image: linear-gradient(90deg, rgba(169,169,169,1) 0%, rgba(255,255,255,1) 20%, rgba(169,169,169,1) 100%);
    margin-left: 25%;
    max-width: 50%;
    text-align: center;
    white-space: nowrap;
}

#buttons h2{
    margin-left: 8px;
    margin-right: 8px;
    -webkit-touch-callout: none; /* iOS Safari */
     -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

}

#jeune{
    display: inline-block;
}

#jeune a{
    text-decoration: none;
    color: rgb(229, 0, 126);
}

#referent{
    color: rgb(43, 173, 76);
    display: inline-block;
}

#consultant{
    color: rgb(98, 184, 221);
    display: inline-block;
}

#partenaires{
    color: white;
    background-color: rgb(112, 112, 112);
    display: inline-block;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 8px;
    padding-right: 8px;
}


#text{
    margin-top: 20px;
}

#text img{
    height: 450px;
    width: auto;
}

#text div{
    text-align: left;
    color: rgb(112, 112, 112);
    font-size: 175%;
    margin-left: 25%;
    max-width: 50%;
}

#text div a{
    text-decoration: none;
}
