body{
    margin: auto;
    background-image: radial-gradient(white,#A9A9A9);
}
#title_band{
    background-image: radial-gradient(white,#A9A9A9);
    margin:auto;
}
#sus{
    text-align: center
}
#imgpart{
    text-align: center
}

