body{
    margin:auto;
    font-family: Arial, Helvetica, sans-serif;
    background-image: radial-gradient(white,#dddddd);
}

#title_band{
    text-align: left;
    background: linear-gradient(90deg, rgba(169,169,169,1) 0%, rgba(255,255,255,1) 20%, rgba(169,169,169,1) 100%);
    margin:auto;
}

#title_band img{
    height: 250px;
    width: auto;
}

#title_band h1{
    color: white;
    font-size: 250%;
    position: absolute;
    top: 175px;
    right: 16px;
    text-align: right;
}



#buttons{
    background: linear-gradient(90deg, rgba(169,169,169,1) 0%, rgba(255,255,255,1) 20%, rgba(169,169,169,1) 100%);
    text-align: center;
    max-width: 40%;
    margin: auto;   
}

#buttons h2{
    margin-left: 8px;
    margin-right: 8px;
    -webkit-touch-callout: none; /* iOS Safari */
     -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

}


#jeune{
    color: rgb(229, 0, 126);
    display: inline-block;
}

#referent{
    color: rgb(43, 173, 76);
    display: inline-block;
}

#consultant{
    color: rgb(98, 184, 221);
    display: inline-block;
}

#partenaires{
    color: rgb(112, 112, 112);
    display: inline-block;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 8px;
    padding-right: 8px;
}

h3{
    font-size: 40px;
    text-align: center;
    color: grey;
    margin-right: 50px;
}

#par1{
    color: grey;
    margin-left: 45px;
}

#par2{ 
    color: grey;
    margin-left: 80px;
}

#par3{
    color: grey;
    margin-left: 80px;
}

#zero{
    margin-left: auto;
    margin-right: auto;
    
}

tbody {
    vertical-align: text-top;   /* Pour que le texte dans les cases du tableau puisse remonter en haut de la case  */
}

#un{
    height: 18%;
    width:10%;
    border-width:2px; 
    border-style:solid; 
    border-color:#e6007e;
    display:inline-table;
    border-collapse:collapse;
    margin-left: 655px;
}

.pinkcase{
    background-color: #e6007e;
    background: linear-gradient(90deg, #fad8e9, #e6007e);
    color: white;
    text-align: center;
}

.underpink{
    background-color: #fce9f3;
    background: linear-gradient(90deg, white, #fce9f3);
    color:#706f6f;
}

#deux{
    height: 18%;
    width:10%;
    border-width:2px; 
    border-style:solid; 
    border-color:#c1d100;
    display:inline-table;
    border-collapse:collapse;
    margin-left: 20px;
}

.greencase{
    color: white;
    background-color: #13a538;
    background: linear-gradient(90deg, #c1d100, #13a538);
    text-align: center;
}

.undergreen{
    background-color:#dde56e;
    background: linear-gradient(90deg, white, #dde56e);
    color: #706f6f;
}

#trois{
    height: 18%;
    width:10%;
    border-width:2px; 
    border-style:solid; 
    border-color:#009fe3;
    display:inline-table;
    border-collapse:collapse;
    margin-left: 20px;
}

.bluecase{
    color: white;
    background-color: #009fe3;
    background: linear-gradient(90deg, #9cd9f7, #009fe3);
    text-align: center;
}

.underblue{
    color:#706f6f;
    background-color: #c2e7fa;
    background: linear-gradient(90deg, white, #c2e7fa);
}



